POSTGRES_DB=war_analysis
POSTGRES_USER=db_user
POSTGRES_PASSWORD=db_password
POSTGRES_PORT=5432 # port for accessing docker Postgres from outside host
# e.g., for GUI, like DBeaver

# User for running docker not as root
UID=1000
GID=1000