pandas==3.0.5
odfpy==1.4.1
pyarrow==25.0.1
matplotlib==3.11.1
requests==2.34.2
beautifulsoup4==4.15.0
SQLAlchemy==2.0.52
alembic==1.19.2
psycopg[binary]==3.3.5
pytest==9.1.1
GeoAlchemy2==0.20.0
shapely==2.1.2